<html>
<head>
<script src="https://kit.fontawesome.com/87804dc25d.js" crossorigin="anonymous"></script>
</head>
<header>
    <img style="padding-left:10px;" src="./assets/people.png">
    <button class="custman">Customer manager </button>
    <button class="custbut">Customers </button>
    <button class="navbar"> Orders </button>
    <button class="navbar"> About </button>
    <button class="navbar"> Login </button>
</header>
<body>
    <form>
        <div>
            <div class="d1st">
                <img id="img2" src="./assets/contact.webp">
                <p id="custtext">Customers</p>
            </div>
            <div class="d2nd">

                <div class="d21st">
                    <button class="view" type="button" routerLink="/CardviewComponent"><i class="fa fa-windows" aria-hidden="true"></i> Card view </button>
                    <button class="view" type="button" routerLink="/ListviewComponent"><i class="fa fa-bars" aria-hidden="true"></i> List view </button>
                    <button class="view"><i class="fa fa-map-marker" aria-hidden="true"></i> Map view </button>
                    <button class="view"><i class="fa fa-plus" aria-hidden="true"></i> New Customer </button>
                </div>
            
            </div>
            
        </div>
    </form>
    
</body>
</html>