<app-page1></app-page1>
<div style="float:right; margin-top: -37px; margin-right: 116px ">
    <label class="filter">Filter :</label><br>
    <input type="text" placeholder="Search Here" [(ngModel)]="search1">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let d of customers | paginate:{itemsPerPage: 8, currentPage: p} | search :search1  ">
            <div class="card-view">
                <div class="cv-header">
                    <span class="names" style="padding:10px;">{{ d.firstName + ' ' + d.lastName }}
                        <i class="fa fa-pencil-square-o" aria-hidden="true"
                            style="color:white; float: right; height: 5px;padding: 5px;"></i>
                    </span>
                </div>
                <div>
                    <img *ngIf="d.gender==='male'" src="../assets/male.png"
                        style="padding-top:10px; padding-left: 10px; width: 70px; height: 70px;">
                    <img *ngIf="d.gender==='female'" src="../assets/female.png"
                        style="padding-top:10px; padding-left: 10px; width: 70px; height: 70px;">

                    <div style=" float:right; margin-top: 20px;">
                        <label class="data" >{{d.city}}</label><br>
                        <label class="data" >{{d.state.name }}</label><br>
                        <button class="data" style="border:none; color:#007af8; background:none;margin-left: -8px;">ViewOrders</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>

