.card-view {
    border: 1px solid black;
    margin: 20px;
    height: 120px;
    width: 250px;
    cursor: pointer;
}
.container
{
    margin-top: 50px;
}

.cv-header {
    height: 30px;
    background-color: #007af8;
}
.filter
{
    color:#5b5959;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.names
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: white;
}
.data
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: small;
    margin-right: 60px;
}
#list-view {
    border: 1px solid black;
    border-left: 0px solid;
    border-right: 0px solid;
}
.row    
{
    display: flex;
    flex-wrap: wrap;
}

#list-view span {
    padding: 30px;
}